/* CSS RESET */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* Navigation Bar */
/* 1rem = 16px (default fault size) */
nav {
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
}

/* Margin vs Padding */
/* Margin, best used when creating space between elements */
/* Padding, best used when creating space between element's border and it's content */
nav .nav-logo, nav .nav {
	margin: 0.5rem;
/* Change elemt to inline elements */
	display: inline;
}

#intro {
/* Create space between tehe contents of the intro section and it's border */
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	font-weight: bold;
	background-color: #c2195d;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	color: white;
}

#succeed-info { 
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
/* Allows the cards to appear beside each other */
	display: inline-block;
/* Aligns element with the tallest element in line */
/* Used with the inline-block value */
	vertical-align: top;
/* Allows for cards to have equal height that adjust with the content */
	min-height: 175px;
	width: 30%;
/* Create horizontal spacing*/ 
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #002540;
	color: white;
	padding: 0.5rem;
	
	margin-bottom: 0.5rem;
	border-bottom: 1px solid gray;
	padding-left: 1%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: left;
}

#pre-footer div {
	display: inline-block;
	width: 20%;
	text-align: left;
	margin-right: 0.8rem;
}

#pre-footer div, #pre-footer h3, #pre-footer p{
		margin-bottom: 0.5rem;

}